.navbar{
    background-color: orange;
    width: 1370px;
    margin-left: 0px;
    display: flex;
    align-items: center;

    
}
nav{
flex: 1;
text-align: right;
position: relative;    

}
nav ul li{
    list-style: none;
    margin-right: 30px;
    display: inline-block;
    position: relative;
}
.page1{
    background-image: url(designStudio2-banner-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: orange;
}
.full {
    margin-left: 1000px;
}
.join {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    padding: 0 30px;
    background-color: #1abc9c;
    transition: all; /*.3s cubic-bezier(0.22, 0.61, 0.36, 1);*/
    border-style:ridge ;
    border-radius: 20px;
    width: 190px;
    height: 50px;
    text-align: center;
    border: none;
    padding-top: 10px;
    
}
.join {
    color: white;